
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, code,
del, dfn, em, img, q, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
	margin: 0;
	padding: 0;
	border: 0;
	font-weight: inherit;
	font-style: inherit;
	font-size: 100%;
	font-family: inherit;
	vertical-align: baseline;
}


body { line-height: 1.5; background: #fff; margin:1.5em 0; }

/* Tables still need 'cellspacing="0"' in the markup. */
table { border-collapse: separate; border-spacing: 0; }
caption, th, td { text-align: left; font-weight:400; }

/* Remove possible quote marks (") from <q>, <blockquote>. */
blockquote:before, blockquote:after, q:before, q:after { content: ""; }
blockquote, q { quotes: "" ""; }

a img { border: none; }


body {
	color: #797979;
	font-family: Verdana, Arial;
	font-size: 75%;
}

a {
	color: #607293;
	text-decoration: none;
}

a:hover {
	color: #354158;
}


#container {
	width: 500px;
	margin: auto;
	padding-top: 50px;
	padding-bottom: 50px;
}




/*
Baruu 1

*/


/**************************************************************

	Image Menu
	v 2.2

**************************************************************/


#imageMenu {
	position: relative;
	width: 500px;
	height: 200px;
	overflow: hidden;
}



#imageMenu ul {
	list-style: none;
	margin: 0px;
	display: block;
	height: 200px;
	width: 1000px;
	
	}

#imageMenu ul li {
	float: left;
}

#imageMenu ul li a {
	text-indent: -1000px;
	background:#FFFFFF none repeat scroll 0%;
	border-right: 2px solid #fff;
	cursor:pointer;
	display:block;
	overflow:hidden;
	width:98px;
	height: 200px;
}

#imageMenu ul li.landscapes a {
	background: url(https://fbcdn-sphotos-a-a.akamaihd.net/hphotos-ak-xaf1/v/t1.0-9/10628533_10202961374982513_1257416518643089856_n.jpg?oh=12709febaa906043b8e627265e1f4e81&oe=54C6B608&__gda__=1421313468_70de027d6974a077c3513b51c7d7edae) repeat scroll 0%;
}

#imageMenu ul li.people a {
	background: url(https://fbcdn-sphotos-g-a.akamaihd.net/hphotos-ak-xpa1/v/t1.0-9/10414571_10202961375022514_6979611392320728946_n.jpg?oh=e20f429cd5c3b2e38cfc0a5751e561ec&oe=54AFE336&__gda__=1421822496_4aa6b40c9a5e19d1a20773d78131b31a) repeat scroll 0%;
}

#imageMenu ul li.nature a {
	background: url(https://fbcdn-sphotos-e-a.akamaihd.net/hphotos-ak-xfa1/v/t1.0-9/10592704_10202961375062515_7997201248399034737_n.jpg?oh=17869ff10edb7c16f7635b186d44417a&oe=54BB89D2&__gda__=1421061439_e9ad9d68dcdaf1a258744f2404ae78d3) repeat scroll 0%;
}

#imageMenu ul li.urban a {
	background: url(https://scontent-a.xx.fbcdn.net/hphotos-xaf1/v/t1.0-9/10177517_10202961375422524_6716989904739191114_n.jpg?oh=a65ab7735fc27e18356ef570d451ffcd&oe=54C817BB) repeat scroll 0%;
}

#imageMenu ul li.abstract a {
	background: url(images/abstract.jpg) repeat scroll 0%;
	width: 310px;
}

.clear {
	clear: both;
}

/*************************************************************/

